$spacing-none: 0;
$spacing-one: 1px;
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-full: 1000px;

// Desktop
$spacing-desktop-none: $spacing-none;
$spacing-desktop-one: $spacing-one;
$spacing-desktop-xxs: $spacing-xxs;
$spacing-desktop-xs: $spacing-xs;
$spacing-desktop-sm: $spacing-sm;
$spacing-desktop-md: 16px;
$spacing-desktop-lg: 24px;
$spacing-desktop-xl: 32px;
$spacing-desktop-xxl: 40px;
$spacing-desktop-hu: 48px;
$spacing-desktop-xh: 56px;
$spacing-desktop-xxh: 64px;
$spacing-desktop-xxxh: 72px;
$spacing-desktop-gi: 80px;
$spacing-desktop-xg: 88px;
$spacing-desktop-xxg: 96px;
$spacing-desktop-xxxg: 102px;
$spacing-desktop-full: $spacing-full;

// Tablet
$spacing-tablet-none: $spacing-none;
$spacing-tablet-one: $spacing-one;
$spacing-tablet-xxs: $spacing-xxs;
$spacing-tablet-xs: $spacing-xs;
$spacing-tablet-sm: $spacing-sm;
$spacing-tablet-md: 12px;
$spacing-tablet-lg: 20px;
$spacing-tablet-xl: $spacing-desktop-lg;
$spacing-tablet-xxl: $spacing-desktop-xl;
$spacing-tablet-hu: $spacing-desktop-xxl;
$spacing-tablet-xh: $spacing-desktop-hu;
$spacing-tablet-xxh: $spacing-desktop-xh;
$spacing-tablet-xxxh: $spacing-desktop-xxh;
$spacing-tablet-gi: $spacing-desktop-xxxh;
$spacing-tablet-xg: $spacing-desktop-gi;
$spacing-tablet-xxg: $spacing-desktop-xg;
$spacing-tablet-xxxg: $spacing-desktop-xxg;
$spacing-tablet-full: $spacing-full;

// Mobile
$spacing-mobile-none: $spacing-none;
$spacing-mobile-one: $spacing-one;
$spacing-mobile-xxs: $spacing-xxs;
$spacing-mobile-xs: $spacing-xs;
$spacing-mobile-sm: $spacing-sm;
$spacing-mobile-md: $spacing-sm;
$spacing-mobile-lg: $spacing-desktop-md;
$spacing-mobile-xl: $spacing-tablet-lg;
$spacing-mobile-xxl: $spacing-tablet-xl;
$spacing-mobile-hu: $spacing-tablet-xxl;
$spacing-mobile-xh: $spacing-tablet-hu;
$spacing-mobile-xxh: $spacing-tablet-xh;
$spacing-mobile-xxxh: $spacing-tablet-xxh;
$spacing-mobile-gi: $spacing-tablet-xxxh;
$spacing-mobile-xg: $spacing-tablet-gi;
$spacing-mobile-xxg: $spacing-tablet-xg;
$spacing-mobile-xxxg: $spacing-tablet-xxg;
$spacing-mobile-full: $spacing-full;
